*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
@font-face {
 font-family: section-text;
 src: url(../font/Caveat/Caveat-VariableFont_wght.ttf);
}
@font-face {
 font-family:text-form ;
 src: url(../font/Gruppo/Gruppo-Regular.ttf);
}
body{
 background: url(../image/abstract-uv-ultraviolet-light-composition.jpg) no-repeat center center;
 background-size: cover;
}
.form-sing-in{
 width: 500px;
 height: 515px;
 margin: 50px auto;
 background: rgb(58,107,180);
 background: linear-gradient(90deg, rgba(58, 107, 180, 0.43) 0%, rgba(17, 12, 61, 0.385) 49%, rgba(252, 69, 154, 0.343) 91%);
}
.form-sing-in h1{
 color: yellow;
 font-size: 30px;
 word-spacing: 2px;
 text-align: center;
 letter-spacing: 5px;
 font-family: section-text;
}
.form-sing-in p{
 color: white;
 font-size: 15px;
 padding-top: 20px;
 text-align: center;
 word-break: break-all;
 font-family: text-form;
}
.section-form{
 height: 90px;
 border-bottom: 1px solid rgba(255, 255, 255, 0.466);
}
#tel{
 width: 96px;
 height: 30px;
 padding:0 5px;
 color:white;
 margin: 10px 6.5px;
 text-align: center;
 font-family:sans-serif;
 border: 1px solid yellow;
 transform: translateX(-12px);
 background-color: rgba(0, 0, 0, 0.251);
}
#text{
 width: 150px;
 height: 25px;
 padding:0 5px;
 color:white;
 font-size:13px;
 margin: 10px 5px;
 font-family:sans-serif;
 border: 1px solid yellow;
 background-color: rgba(0, 0, 0, 0.251);
}
#email{
 width: 320px;
 height: 25px;
 padding: 0 5px;
 font-size:13px;
 margin: 10px 5px;
 border: 1px solid yellow;
 background-color: rgba(0, 0, 0, 0.251) ;
}
select{
 width: 50px;
 height: 25px;
 color: white;
 text-align: center;
 margin:  10px 140px;
 font-family: sans-serif;
 border: 1px solid yellow;
 background-color: rgba(0, 0, 0, 0.151);
}
span{
 color: red;
}
label{
 margin: 30px;
 color: white;
 font-size: 15px;
 font-family: text-form;
}
.total-1{
 width: 170px;
 display: flex;
 color: white;
 flex-direction: row;
 justify-content: center;
 font-family: sans-serif;
 border-bottom: 1px solid white;
 transform: translate(160px, 20px);
 background-color: rgba(0, 0, 0, 0.275);
}
.total-2{
 width: 170px;
 display: flex;
 color: white;
 flex-direction: row;
 justify-content: center;
 font-family: sans-serif;
 transform: translate(160px, 20px);
 background-color: rgba(0, 0, 0, 0.275);
}
h4{
 word-spacing: 50px;
}
h5{
 word-spacing: 50px;
}
.demo{
 margin-left: 30px;
}
#submit{
 width: 150px;
 height: 40px;
 border: none;
 color: yellow;
 border-radius: 5px;
 font-family: sans-serif;
 text-transform:uppercase;
 background-color: crimson;
 transform: translate(-160px , 150px);
}